.app {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    padding: 40px 20px;
}